node_modules
**/node_modules
**/dist
**/build
.git
.github
.cursor
.cdk.staging
cdk.out
**/.env
**/.env.*
!**/.env.example
**/*.log
**/.DS_Store
**/coverage
**/*.tsbuildinfo
apps/backend/src/generated
infra
README.md
docker-compose.yml
